DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

MYSQL_ROOT_PASSWORD=

PROJECT_NAME=Plataforma Finanzas
VERSION=1.0.0
DEBUG=False
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost"]

FIRST_ADMIN_EMAIL=
FIRST_ADMIN_PASSWORD=

BACKEND_PORT=
MYSQL_PORT=
