DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

# Compose mode: development or production
ENVIRONMENT=development
COMPOSE_PROFILES=development

PROJECT_NAME=Plataforma Finanzas
VERSION=1.0.0
DEBUG=False
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost"]

# Frontend configuration for docker-compose
# En Development se usará la ruta local del frontend
FRONTEND_LOCAL_PATH=../plataformas-financieras

# En prodicción docker construira el repositorio desde una url de github
FRONTEND_GIT_CONTEXT=

# 5173 (dev) or 8080 (prod) by default
FRONTEND_PORT=

# API target used by frontend build/dev server
VITE_API_URL=http://localhost:8000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=us-east-2
AWS_BUCKET_NAME=

AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
ONEDRIVE_USER_EMAIL=