# Production defaults
DB_CONTAINER_NAME=valora-financieras-db
BACKEND_CONTAINER_NAME=valora-financieras-api
NPM_EXTERNAL_NETWORK=npm_network # for production

# Database
MYSQL_ROOT_PASSWORD=rootpassword123
DATABASE_USER=financiera_user
DATABASE_PASSWORD=financiera_password
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_NAME=financiera_db

# Environment
ENVIRONMENT=development
COMPOSE_PROFILES=development

# App
PROJECT_NAME=Plataforma Finanzas
DEBUG=False

SECRET_KEY=replace-in-each-env
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# CORS
DEBUG=False
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

FIRST_ADMIN_EMAIL=admin@example.com
FIRST_ADMIN_PASSWORD=changeme

# Integrations (con datos mock o deshabilitados en test)
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
ONEDRIVE_USER_EMAIL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=
AWS_BUCKET_NAME=